# Node / Next.js
node_modules/
.next/
next/
out/

# Env
.env
.env.*
!.env.example

# Python
backend/venv/
backend/__pycache__/
**/__pycache__/
*.pyc

# Models (VERY IMPORTANT)
backend/model/
*.pth

# Uploads
public/uploads/

# OS
.DS_Store

# Model checkpoints
*.pth

# Datasets
data/
**/data/

# CIFAR-10 archives
cifar-10-python.tar.gz

